@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Quicksand";
}

body {
  @apply bg-background text-white;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-background;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

.box-center {
  @apply w-11/12 lg:w-7/12 mx-auto;
}

.glassmorphism {
  @apply rounded-xl mb-10 border border-white border-opacity-10 bg-white/0  shadow-[inset_0px_0px_100px_100px_rgb(200,199,199,0.05)] backdrop-blur p-2;
}

.btn-primary {
  @apply border border-white rounded px-3 py-2;
}

.border-op {
  @apply border border-white border-opacity-10 rounded-xl;
}
